h2{
    color:rgb(0, 247, 255);
}

body{
background-color: #305050;
color:white;
font-family: Roboto;
text-align: center;
}

header{
    border-bottom: 1px solid grey;
}
footer{
    border-top: 1px solid grey;
}

#nome-usúario{
    font-weight: bold;
}

.texto-inglês{
    font-style: italic;

}